<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.local.bili-injector</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__INJECTOR__</string>
    <string>--port</string>
    <string>__PORT__</string>
    <string>--script</string>
    <string>__SCRIPT__</string>
    <string>--logfile</string>
    <string>__LOG__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG__</string>
  <key>StandardErrorPath</key>
  <string>__ERRLOG__</string>
</dict>
</plist>
